.makeUpYourBlockTypeName {
  background-color: #b8c9f8;
  border: 1px solid #94a9e2;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
}

.title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.select-summarizer {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #94a9e2;
  box-sizing: border-box;
  margin-top: 10px;
}
